.nvStyle{
    height: 54px;
    background-color: white;
}

::placeholder{
    text-align: center;
    font-size: 14px;
    color: gray;
    background-position: 40%;
    background-size: 6%;
    background-image: "assets/searh-solid.svg";
  }